:root {
    --gradientStartColor: rgba(59, 88, 70, 1);
    --gradientMiddleColor: rgba(63, 113, 63, 1);
    --gradientEndColor: rgba(16, 86, 16, 1);
    --gradientColor: linear-gradient(180deg, 
                        var(--gradientStartColor) 0%, 
                        var(--gradientMiddleColor)50%,
                        var(--gradientEndColor)100%);

    --defaultBackgorundColor : rgb(59, 88, 70)

}

@font-face {
    font-family: PixelifySans;
    src: url("../assets/fonts/PixelifySans-Regular.ttf");
}

html {
    height: 100%;
}

body {
    height: 100% ;
    background: var(--defaultBackgorundColor);/*for non support browsers*/
    background: var(--gradientColor);
    font-family: "PixelifySans";
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start {
    border-radius: 10%;
}

#start:hover {
    background-color: black;
    color: lightgreen;
}