:root {
    --defaultBackgroundColor: rgb(0, 22, 3);
    --gradientStartColor: rgba(0, 22, 3, 1);
    --gradientMiddleColor: rgba(1, 88, 23, 1);
    --gradientEndColor: rgba(0, 96, 16, 1);
    --gradientBackground: radial-gradient(circle,
            var(--gradientStartColor) 0%,
            var(--gradientStartColor) 81%,
            var(--gradientMiddleColor) 93%,
            var(--gradientEndColor) 100%);

    --AirbusSurroundColor: #6399ae;
    --fmcBorderColor: #3b819d;
    --fmcBorderColor2:#235d74;

    --fontColor1: lightgreen;
    --fontColor2: rgb(23, 148, 165);
    --fontColor3: rgb(0, 37, 9);

    --normalColor: rgb(0, 37, 9);
    --hoverColor: rgb(93, 147, 0);
    --checkedColorBorder: rgb(41, 81, 130);

    --colorAcierto: rgb(2, 252, 2);
    --colorFallo:red;
}

@font-face {
    font-family: PixelifySans;
    src: url("../assets/fonts/PixelifySans-Regular.ttf");
}

body {
    font-family: PixelifySans;
    background-color: var(--AirbusSurroundColor);
    font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main#container{
    border-radius: 25px;
    background-color: var(--fmcBorderColor);
    border: solid 5px var(--fmcBorderColor);
}

form#AeroQuiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    background: var(--defaultBackgroundColor);
    background: var(--gradientBackground);

    border-radius: 25px;
    color: var(--fontColor1);
}

fieldset#questions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    border: 0;
}

fieldset.qFieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    padding: 20px;
    flex-wrap: wrap;
    border: solid var(--gradientMiddleColor) 5px;
    border-radius: 15px;
}

label {

    text-align: center;
    text-justify: center;

    background: var(--gradientMiddleColor);
    
    width: 80%;
    height: fit-content;

    margin: 5px;
    padding-bottom: 10px;
    padding-top: 10px;

    border-radius: 5px;
    border-top: solid var(--fmcBorderColor) 5px;
    border-right: solid var(--fmcBorderColor) 5px;
    border-bottom: solid var(--fmcBorderColor2) 5px;
    border-left: solid var(--fmcBorderColor2) 5px;
}



label:hover {
    background: var(--hoverColor);
    color: var(--fontColor3);
    border: solid 5px;
    border-color: var(--checkedColorBorder);
}

input[type="radio"]:checked+label {
    background: var(--normalColor);
    color: var(--fontColor2);
    border-color: var(--checkedColorBorder);
}

input[type="radio"] {
    opacity:0;
    width: 0%;
    height: 0%;
    margin: 0%;
}

input[type="submit"] {
    color: var(--fontColor1);
    border: solid 2px;
    border-radius: 15px;
    border-color: var(--AirbusSurroundColor);
    background-color: var(--normalColor);
    height: fit-content;
    width: fit-content;
    align-self: center;
    font-size: 30px;
    font-family: PixelifySans;
    padding: 25px;
}

input[type="submit"]:hover {
    background-color: var(--hoverColor);
    color: var(--fontColor3);
}

@media only screen and (min-width: 400px) {

    body{
        font-size: 25px;
    }
    
}


@media only screen and (min-width: 768px) {

    fieldset.qFieldset{
        flex-direction: row;
        padding: 50px;
    }

    label{
        font-size: 30px;
    }
    
}
@media only screen and (min-width: 1024px) {

    label{
        width: 40%;
        font-size: 30px;
        
        margin: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
}

@media only screen and (min-width: 1366px) {

    body{
        align-items: normal;
    }

    form{
        width: 100%;
    }

    fieldset.qFieldset{
        flex-direction: row;
    }

    fieldset#questions {
        width: 100%;
    }

    legend{
        font-size: 30px;
    }

    label{
        text-justify: center;
        height: 50px;
        width: 30%;
        font-size: 30px;
        
        margin: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    
}
